
{{!< main}}

    <div class="container login-form">
        <h2>Login</h2>
        <form method="POST" action="/login"> 
            <input type="text" id="email-login" placeholder="Email" name="email">
            <input type="password" id="password-login" placeholder="Password" name="password">
            <button type="submit">Login</button>
        </form>
    </div>
    <script src="/js/login.js"></script>
